* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    border: 1px solid red;
}

li {
    list-style: none;
}

/* header  */

.header {
    background-color: black;
    color: white;
}

nav>ul>li {
    display: inline-block;
}

nav>ul>li>a, nav>ul>li>span {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 15px 20px;
}

nav li:hover {
    background-color: #ddd;
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    width: 100%;
    height: 100%;
}

.dropdown-contex {
    display: none;
    position: absolute;
    min-width: 100%;
    background-color: #eee;
    left: 0;

    padding: 5px;
}

.dropdown:hover .dropdown-contex {
    display: block;
}