
   .item1 { grid-area: header; } 
   .item2 { grid-area: leftbar; }
   .item3 { grid-area: sidebar; }
   .item4 { grid-area: footer; }

   .grid-container {
      display: grid;
      grid-template-areas:
      'header header header header'
      'leftbar leftbar  sidebar sidebar'
      'footer footer footer footer';
      grid-gap: 0px;
      background-color: white;
      padding: 10px;
    }
    .grid-container > div {
      background-color: rgb(231, 106, 106);
      text-align: center;
      padding: 20px 0;
      font-size: 30px;
    }
    header {
      background-color: rgba(221, 138, 113, 0.863);
      margin-top: -40px;
      padding: 25px;
      text-align: center;
      font-size: 20px;
      color: white;
    }
    ul.ul1{
            list-style-type: none;
            padding-left: 0px;
            margin-left: 0px;
        }
   .ul1 li{
            background: rgba(216, 146, 125, 0.863);
            display: inline;
        }
   .ul1 a{
            background-color: #e0cfcf;
            color: rgb(197, 108, 108);
            display: inline;
            border: 1px solid rgb(18, 10, 59);
            border-radius: 40px 40px;
            padding: 5px 15px 5px 15px;
            font-size:xx-large;
            text-decoration: none;
        }
    ol li{
        color: rgb(215, 232, 233);
        margin-bottom: 20px;
    }
    .ol a{ 
        background-color: #e0cfcf;
            color: rgb(216, 93, 93);
            display: inline;
            border: 1px solid rgb(122, 102, 221);
            border-radius: 40px 40px;
            padding: 5px 15px 5px 15px;
            font-size:medium;
            margin-inline-end: auto;
            text-decoration: none;
        
    }
        
    article {
        float: left;
      margin-top: -20px;
      margin-left: -100px;
      padding: 20px;
      width: 98%;
      background-color: rgb(233, 157, 151);
      height: 660px; 
    }

    .div1{
        float: left;
        margin-top: -20px;
        width: 200px;
        font-size:medium;
        height: 700px;
        background: rgb(134, 18, 2);
        padding: 0px;
    }
    .div1 a{
        background-color: #e0cfcf;
        color: rgb(117, 49, 49);
        display: inline;
        border: 1px solid rgb(18, 10, 59);
        border-radius: 40px 40px;
        padding: 5px 15px 5px 15px;
        font-size: 20px;
        text-decoration: none;
    }
    
    footer{
        background-color: rgba(16, 11, 26, 0.877);
        padding: 30px;
        margin-top: -20px;
        text-align: center;
        font-size: 35px;
        color: rgb(138, 218, 101);

    }
    header a:hover {
        background-color: rgb(227, 236, 227);
    }
    iframe{
        background-color: rgb(204, 91, 134);
        
        height: auto;
        width:auto;
    }
    img{
        border: 1px solid black;
        width: 50px;
        height: 50px;
        float: left;
    }

/*------------------------------------------------------------
---------------------------------------------------------------
--------------------------------------------------------------*/
    @media screen and (max-width: 700px) {
        header{
            text-align: left;
            padding: 150px;            
        }   
        header img{
            position: absolute;
            border: 1px solid black;
            margin-top: -140px;
            margin-left: -140px;
        }
        ul{ 
            padding: 5px;
            position: absolute;
            left: 200px;
            top: -15px;
            width: 150px;    
        }
        ul.ul1 {
            padding: 5px 5px;
            margin-top: 50px;
            text-align: center;
            width: 150px;
            }
        .ul1 li{
            list-style-type: none;
            padding: 1px;
            }

        .ul1 li a{
            text-decoration: none;            
            background-color: #ffffff;      
            display: block;      
            width: 100px; 
            padding: 0px;    
            }
 
        header a:hover {
            background-color: rgb(196, 223, 196);
        }
        article{
            float: none;
            margin-left: 5px;
            width: 90%;
            height: 630px;
            overflow: hidden;
        }       
        .div1{
            display: none;
        }
        footer{
            margin-top: -10px;
        }
        .row {
            display: flex;
            flex-wrap: wrap;
            padding: 0 4px;
        }
        .column {
            flex: 40%;
            max-width: 50%;
            padding: 0 4px;
        }
        .column img {
            margin-top: -15px;
            width: 200px;
            height: 200px;
            vertical-align: middle;
        }

    }


/*------------------------------------------------------------
---------------------------------------------------------------
--------------------------------------------------------------*/
        
    @media screen and (max-width: 368px) {
        header{
            text-align: left;
            padding: 150px;            
        }   
        header img{
            position: absolute;
            border: 1px solid black;
            margin-top: -140px;
            margin-left: -140px;
        }
        ul{ 
            padding: 5px;
            position: absolute;
            left: 140px;
            top: -15px;
            width: 150px;    
        }
        ul.ul1 {
            padding: 5px 5px;
            margin-top: 50px;
            text-align: center;
            width: 150px;
            }
        .ul1 li{
            list-style-type: none;
            padding: 1px;
            }

        .ul1 li a{
            text-decoration: none;            
            background-color: #ffffff;      
            display: block;      
            width: 100px; 
            padding: 0px;    
            }
 
        header a:hover {
            background-color: limegreen;
        }
        article{
            float: none;
            height: 1800px;
            width: 90%;
            margin: 0 auto;
            width:400px;
            height:400px;
            border:2px solid black;
            overflow:hidden;
            animation:one 35s;
            position:relative;
            background-size:500px 400px;
            transition:2s ease;
            transition-delay:2s;
        }       
        @keyframes one{
            0%{background-image:url("https://www.w3schools.com/w3images/wedding.jpg");}
            20%{background-image:url("https://www.w3schools.com/w3images/rocks.jpg");}
            40%{background-image:url("https://www.w3schools.com/w3images/falls2.jpg");}
            60%{background-image:url("https://www.w3schools.com/w3images/underwater.jpg");}
            80%{background-image:url("https://www.w3schools.com/w3images/ocean.jpg");}
            100%{background-image:url("https://www.w3schools.com/w3images/pic_trulli.jpg");}
        }
        .div1{
            display: none;
        }
        .row {
            display: flex;
            flex-wrap: wrap;
            padding: 0 4px;
        }
        .column {
            display: none;
            flex: 100%;
            max-width: 100%;
            padding: 0 4px;
        }
        .column img {
            margin-top: -15px;
            width: 200px;
            height: 200px;
            vertical-align: middle;
        }
        footer{
            margin-top: -10px;
            width: 90%;
        }
    }