<h1>The article element</h1>

<article style="width: 300px; border: 3px solid rgb(180, 36, 36);  padding: 8px; border-radius: 20px;"> 
    <h2> LATEST NEWS</h2>

  <img src="Screenshot (88).png" height="200" width="200">
  

  <p>Latestnews live: Delhi reports 150 new Covid-19 cases and 6 deaths!</p>

</article>


<h2>Horizontal Menu</h2>

<a href="#home">Home</a>
<a href="#news">News</a>
<a href="#contact">Contact</a>
<a href="#about">About</a>


<h2>Report Card</h2>

<table text align="center" border="1px">
    <thead>
    <tr>
        <td>NAME</td>
        <td>ROLL NO.</td>
        <td>PASSING YEAR</td>
        <td>GRADES</td>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>VIRAL</td>  
            <td>12</td>
            <td>2020</td>
            <td>8 CGPA</td>
        </tr>
        <tr>
            <td>JAY</td>
            <td>13</td>
            <td>2021</td>
            <td>9 CGPA</td>
        </tr>
        <tr>
            <td>RAHUL</td>
            <td>14</td>
            <td>2019</td>
            <td>7 CGPA</td>
        </tr>
        <tr>
            <td>JOHN</td>
            <td>15</td>
            <td>2020</td>
            <td>8 CGPA</td>
        </tr>
    </tbody>
</table>

