<div class="container-fluid py-2 mt-5">
  <!-- carousel -->
  <div id="demo" class="carousel slide mb-5" data-ride="carousel">
    <ol class="carousel-indicators">
      <li class="active" data-target="#demo" data-slide-to="0"></li>
      <li data-target="#slider4" data-slide-to="1"></li>
      <li data-target="#slider4" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <a routerLink="/content/{{top[0].contentId}}"><img
            src="https://img1.hotstarext.com/image/upload/f_auto,t_web_m_1x/sources/r1/cms/prod/6700/1026700-h-baab56827741"
            alt="Carousel Image 2" class="d-block img-fluid rounded " style="width: 100%; height: 400px;"></a>
        <div class="carousel-caption d-none d-md-block">
          <h3 class="text-success">{{top[0].title}}</h3>
          <p>{{top[0].genre}}</p>
        </div>
      </div>
      <div class="carousel-item ">
        <a routerLink="/content/{{top[1].contentId}}"><img
            src="https://img1.hotstarext.com/image/upload/f_auto,t_web_m_1x/sources/r1/cms/prod/6535/846535-h"
            alt="Carousel Image 2" class="d-block img-fluid rounded" style="width: 100%; height: 400px;"></a>
        <div class="carousel-caption d-none d-md-block">
          <h3 class="text-success">{{top[1].title}}</h3>
          <p>{{top[1].genre}}</p>

        </div>
      </div>
      <div class="carousel-item ">
        <a routerLink="/content/{{top[2].contentId}}"><img
            src="https://img1.hotstarext.com/image/upload/f_auto,t_web_m_1x/sources/r1/cms/prod/2886/892886-h"
            alt="Carousel Image 2" class="d-block img-fluid rounded" style="width: 100%; height: 400px;"></a>
        <div class="carousel-caption d-none d-md-block">
          <h3 class="text-success">{{top[2].title}}</h3>
          <p>{{top[2].genre}}</p>

        </div>
      </div>
      <div class="carousel-item ">
        <a routerLink="/content/{{top[3].contentId}}"><img
            src="https://img1.hotstarext.com/image/upload/f_auto,t_web_m_1x/sources/r1/cms/prod/3668/593668-h"
            alt="Carousel Image 2" class="d-block img-fluid rounded" style="width: 100%; height: 400px;"></a>
        <div class="carousel-caption d-none d-md-block">
          <h3 class="text-success">{{top[3].title}}</h3>
          <p>{{top[3].genre}}</p>

        </div>
      </div>
      <div class="carousel-item">
        <a routerLink="/content/{{top[4].contentId}}"><img
            src="https://img1.hotstarext.com/image/upload/f_auto,t_web_m_1x/sources/r1/cms/prod/1455/771455-h"
            alt="Carousel Image 2" class="d-block img-fluid rounded" style="width: 100%; height: 400px;"></a>
        <div class="carousel-caption d-none d-md-block">
          <h3 class="text-success">{{top[4].title}}</h3>
          <p>{{top[4].genre}}</p>

        </div>
      </div>
    </div>
    <a href="#demo" class="carousel-control-prev" data-slide="prev"><span class="carousel-control-prev-icon"></span></a>
    <a href="#demo" class="carousel-control-next" data-slide="next"><span class="carousel-control-next-icon"></span></a>
  </div>

  <!-- home page content  -->

  <div class="container-fluid p-3">
    <h3 style="color: whitesmoke; font-weight: 700;">Movies</h3>
    <div class="row p-2">
      <div class="img col-md-2 p-2 md-2 m-3 " *ngFor="let movie of movies">
        <a routerLink="/content/{{movie.contentId}}">
          <img src="{{movie.contentPosterLink}}" width="180px" height="200px" class="rounded">
        </a>
        <div class="row ">
          <div>
            <a class="nav-link text-info pb-0 mb-0">{{movie.title}}</a>
          </div>
        </div>
      </div>
    </div>
    <h3 style="color: whitesmoke; font-weight: 700;">Popular Shows</h3>
    <div class="row p-2">
      <div class="img col-md-2 p-2 md-2 m-3 " *ngFor="let show of shows">

        <a routerLink="/content/{{show.contentId}}">
          <img src="{{show.contentPosterLink}}" width="220px" height="160px" class="rounded">
        </a>
        <div class="row">
          <div>
            <a class="nav-link text-info pb-0 mb-0">{{show.title}}</a>
          </div>
        </div>
      </div>
    </div>
    <h3 style="color: whitesmoke; font-weight: 700;">Sports</h3>
    <div class="row p-2">
      <div class="img col-md-2 p-2 md-2 m-3 " *ngFor="let sport of sports">
        <a routerLink="/content/{{sport.contentId}}">
          <img src="{{sport.contentPosterLink}}" width="220px" height="160px" class="rounded">
        </a>
        <div class="row ">
          <div>
            <a class="nav-link rounded text-info pb-0 mb-0">{{sport.title}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>