<div class="row" style="margin-top: 2px;">
    <div class="col-md-2 border border-dark" style="min-height: 800px ;">
        <ul routerLinkActive="text-dark"  style="padding-left: 10px; list-style: none;">
            <li><a routerLink="/css/day4" >Day4</a></li>
            <li><a routerLink="/css/day5" >Day5</a></li>
            <li><a routerLink="/css/day6" >Day6</a></li>
            <li><a routerLink="/css/day7" >Day7</a></li>
            <li><a routerLink="/css/day8" >Day8</a></li>
        </ul>
    </div>

    <div class="col-md-10" >
    <router-outlet ></router-outlet> 
    </div>
</div>