:root {
    --main-radius: 5px;
    --main-padding: 5px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .6fr 1.5fr 1.2fr .4fr;
    gap: 10px;

    grid-template-areas: 
        "nav nav nav nav"
        "sidebar main main main"
        "sidebar content1 content2 content3"
        "sidebar footer footer footer";

    height: 100vh;
    text-align: center;
}

.nav {
    background-color: tomato;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

.main {
    background-color: ghostwhite;
    grid-area: main;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

.sidebar {
    background-color: lavender;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

.content1 {
    background-color: lightblue;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

.content2 {
    background-color: lightblue;
    grid-area: content2;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

.content3 {
    background-color: lightblue;
    grid-area: content3;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

.footer {
    background-color: tomato;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

@media only screen and (max-width: 992px) {
    .container {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: .6fr 1.5fr 1.2fr 1.2fr 1.2fr .4fr;
        grid-template-areas: 
        "nav nav"
        "sidebar main"
        "sidebar content1"
        "sidebar content2"
        "sidebar content3"
        "footer footer"; 
    }
}

@media only screen and (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: .6fr 1fr 1.5fr 1.2fr 1.2fr 1.2fr .4fr;
        grid-template-areas: 
        "nav"
        "sidebar"
        "main"
        "content1"
        "content2"
        "content3"
        "footer";

    }
}