<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <title>Image Galary</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Responsive Image Galary</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, autem.</p>
        </div>
        <div class="row">
            <div class="column">
                <img src="../assets/images/falls2.jpg" alt="falls">
                <img src="../assets/images/mountainskies.jpg" alt="mountainskies">
                <img src="../assets/images/nature.jpg" alt="nature">
                <img src="../assets/images/ocean.jpg" alt="ocean">
                <img src="../assets/images/paris.jpg" alt="paris">
                <img src="../assets/images/rocks.jpg" alt="rocks">
                <img src="../assets/images/nature.jpg" alt="nature">
                <img src="../assets/images/underwater.jpg" alt="underwater">

            </div>
            <div class="column">
                <img src="../assets/images/underwater.jpg" alt="underwater">
                <img src="../assets/images/wedding.jpg" alt="wedding">
                <img src="../assets/images/falls2.jpg" alt="falls">
                <img src="../assets/images/mountainskies.jpg" alt="mountainskies">
                <img src="../assets/images/nature.jpg" alt="nature">
                <img src="../assets/images/rocks.jpg" alt="rocks">
                <img src="../assets/images/paris.jpg" alt="paris">
                <img src="../assets/images/ocean.jpg" alt="ocean">
            </div>
            <div class="column">
                <img src="../assets/images/rocks.jpg" alt="rocks">
                <img src="../assets/images/paris.jpg" alt="paris">
                <img src="../assets/images/underwater.jpg" alt="underwater">
                <img src="../assets/images/ocean.jpg" alt="ocean">
                <img src="../assets/images/wedding.jpg" alt="wedding">
                <img src="../assets/images/falls2.jpg" alt="falls">
                <img src="../assets/images/mountainskies.jpg" alt="mountainskies">
                <img src="../assets/images/nature.jpg" alt="nature">
            </div>
            <div class="column">
                <img src="../assets/images/ocean.jpg" alt="ocean">
                <img src="../assets/images/mountainskies.jpg" alt="mountainskies">
                <img src="../assets/images/falls2.jpg" alt="falls">
                <img src="../assets/images/paris.jpg" alt="paris">
                <img src="../assets/images/rocks.jpg" alt="rocks">
                <img src="../assets/images/nature.jpg" alt="nature">
                <img src="../assets/images/wedding.jpg" alt="wedding">
                <img src="../assets/images/underwater.jpg" alt="underwater">
            </div>
        </div>
        <div class="footer">
            &copy;copyright, Tarun Moradiya.
        </div>
    </div>
</body>
</html>