<div class="row" style="margin-top: 2px;">
    <div class="col-md-2 border border-dark" style="min-height: 800px ;">
        <ul routerLinkActive="text-dark"  style="padding-left: 10px; list-style: none;">
    <li><a routerLink="/javascript/day15" >Day15</a></li>
    <li><a routerLink="/javascript/day16" >Day16</a></li>
    <li><a routerLink="/javascript/day17" >Day17</a></li>
    <li><a routerLink="/javascript/day18" >Day18</a></li>
    <li><a routerLink="/javascript/day20" >Day20</a></li>
</ul>
</div>

<div class="col-md-10" >
<router-outlet ></router-outlet> 
</div>
</div>