.container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
    grid-template-areas: 
     ". . . . myarea myarea myarea"
     ". . . . myarea myarea myarea";
}

.container div {
    background-color: lavender;
    text-align: center;
    padding: 20px;
}

.item1 {
    grid-column: 1 / 5;
}

.item3 {
    grid-row: 2/ span 4;
}

.item5 {
    grid-area: 3 / 3 / 6 / 7;
}

.item4 {
    grid-area: myarea;
}

.item15 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 10;
}