.example {
  background-color: lightgrey;
  padding: 20px;
}

@media screen and (min-width: 500px) {
  .example {
    font-size: 50px;
  }
}

@media screen and (max-width: 500px) {
  .example {
    font-size: 10px;
  }
}
