<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper row">
        <div class="header col-m-12 col-l-12">
            <img src="../assets/images/istockphoto-1187326838-612x612.jpg" alt="logo" id="logo">
            <form action="#" method="POST" id="form-search">
                <label for="search">Search:</label>
                <input type="text" name="search" id="search" value="">
                <input type="submit" value="go">
            </form>
            <div class="nav-main">
                <ul class="nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Tours</a></li>
                    <li><a href="#">Groups</a></li>
                    <li><a href="#">Why Us?</a></li>
                    <li><a href="#">Schedule</a></li>
                </ul>
            </div>
        </div>
        <div class="content-main col-l-9 col-m-8">
            <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt, eos?</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus a voluptatibus quisquam temporibus minima corporis accusantium obcaecati laborum ratione beatae quis, officia reiciendis perferendis dolores. Provident blanditiis est fugiat et. Optio totam, reprehenderit ut aperiam asperiores necessitatibus quidem esse vitae. Delectus fugiat iure nostrum iste nesciunt enim vel? Numquam animi, sequi, optio molestias sunt facere dolore rem minus aperiam odit id accusamus! Nam, corrupti veniam. Facere modi nesciunt reprehenderit? Fuga enim unde similique soluta voluptatem aperiam quos labore asperiores aut voluptates error iusto officiis recusandae eligendi, quas aliquam earum tempore deleniti necessitatibus molestias debitis? Exercitationem adipisci porro blanditiis labore doloribus?</p>
            <div class="tour" id="tour-capitol">
                <h2>Capitol</h2>
                <h3>Lorem ipsum dolor sit amet.</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, ea alias eligendi doloribus dolore dicta similique quod soluta ipsum dolorem, corporis quia repellendus voluptates aliquid.</p>
            </div>
            <div class="tour" id="tour-museum">
                <h2>Museum</h2>
                <h3>Lorem ipsum dolor sit amet.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, obcaecati. Quis, eaque rerum! Dicta hic accusamus, molestias numquam adipisci voluptate velit alias non quasi at.</p>
            </div>
            <div class="tour" id="tour-park">
                <h2>Parks</h2>
                <h3>Lorem ipsum dolor sit amet.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas quae dolore deleniti perspiciatis eum itaque minus alias dignissimos, id eos, expedita quis sit nam rerum?</p>
            </div>
        </div>
        <div class="content-secondary col-l-3 col-m-4">
            <div class="newsletter">
                <h3>Email newsletter</h3>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
                <form action="#" method="post" id="form-newsletter">
                    <label for="email">Email:</label>
                    <input type="text" name="email" id="email" value="">
                    <input type="submit" value="subscribe">
                </form>
            </div>
            <div class="specials">
                <h3 class="badge">
                    Special Deals
                </h3>
                <h3>Lorem ipsum dolor sit amet.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, dolorem voluptatem! Vel nisi totam itaque?</p>
            </div>
            <div class="news">
                <h3>news</h3>
                <ul>
                    <li><a href="#">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae, eos!</a></li>
                    <li><a href="#">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae, eos!</a></li>
                    <li><a href="#">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae, eos!</a></li>
                </ul>
                <p>Read more at our <a href="#">blog</a> follow us on <a href="#">twitter</a></p>
            </div>
        </div>
        <div class="footer col-l-12 col-m-12">
            &copy;copyright, Tarun Moradiya. All right reserved.
        </div>
    </div>
</body>
</html>