<div class="container-fluid "><br>


    <div class="embed-responsive embed-responsive-16by9">
        <video class="embed-responsive-item" src="{{contentdetail.contentLink}}" allowfullscreen type="video" controls></video>
    </div>

<div class="detail-area">
        <div></div>
        <div class="container">
            <div class="meta-wrap desktop">
                <h1> {{contentdetail.title}}</h1>
                <p class="show-title"><span class="meta-data-holder"></span></p>
                <div class="tag-holder">
                    <div class="tag">Genre: {{contentdetail.genre}}</div><span class="episode-divider"></span>
                </div><span class="meta-data-holder"><span class="meta-deta">Release Date:{{contentdetail.releaseDate | date:'dd-MM-yyyy'}}</span>
                    <br>
                    <span class="meta-deta">Suitable Age:{{contentdetail.suitableAge}}+</span></span>
                <div class="description">Description: {{contentdetail.description}}
                </div>
            </div>
            <br>
        </div>
    </div>
</div>

