<div class="page col-md-6 offset-md-3 py-2 mt-5 " id="subscription">

        <h4 style="color: white;">Subscribe to get more out of Hotstar</h4>

        <div class="normal">
                <div class="table-view">
                        <table>
                                <tr>
                                        <td class="h">Content</td>
                                        <td>FREE</td>
                                        <td>VIP</td>
                                        <td>PREMIUM</td>
                                </tr>
                                <tr>

                                        <td>Dream11 IPL & live sports</td>
                                        <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                        <td>Multiplex movies</td>
                                        <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>

                                </tr>
                                <tr>
                                        <td>Disney+ movies</td>
                                        <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                        <td>Dubbed</td>
                                        <td>Dubbed & English</td>
                                </tr>
                                <tr>
                                        <td>Kids shows & movies</td>
                                        <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                        <td>Dubbed</td>
                                        <td>Dubbed & English</td>
                                </tr>
                                <tr>
                                        <td>New Indian movies</td>
                                        <td>1 month delay</td>
                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>

                                </tr>
                                <tr>
                                        <td>Hotstar specials</td>
                                        <td>First episode free</td>
                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>

                                </tr>
                                <tr>
                                        <td>American TV shows</td>
                                        <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        <td><i class="fa fa-check" aria-hidden="true"></i></td>

                                </tr>
                                <tr>
                                        <td>Hollywood movies</td>
                                        <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                        <td>Dubbed</td>
                                        <td>Dubbed & English</td>
                                </tr>

                                <tr>
                                        <td>Video quality</td>
                                        <td>SD (480p)</td>
                                        <td>HD (720p)</td>
                                        <td>FHD (1020p)</td>
                                </tr>

                                <tr>


                                        <td>Price</td>
                                        <td>
                                                <label>
                                                        <div class="form-check">
                                                                <input type="radio"
                                                                        (click)="changeCheckbox(plan1.value)"
                                                                        name="radiobutton" value="1" checked id="plan1"
                                                                        #plan1>
                                                                <label class="form-check-label" for="free">
                                                                        Free
                                                                </label>
                                                        </div>
                                                </label>
                                        </td>
                                        <td> <label>
                                                        <div class="form-check">
                                                                <input class="form-check-input" type="radio"
                                                                        (click)="changeCheckbox(plan2.value)"
                                                                        name="radiobutton" value="2" checked id="plan1"
                                                                        #plan2>
                                                                <label class="form-check-label" for="radiobutton1">
                                                                        Month ₹399
                                                                </label>
                                                        </div>


                                                </label></td>
                                        <td> <label>
                                                        <div class="form-check">
                                                                <input class="form-check-input" type="radio"
                                                                        (click)="changeCheckbox(plan3.value)"
                                                                        name="radiobutton" value="3" checked id="plan3"
                                                                        #plan3>
                                                                <label class="form-check-label" for="radiobutton1">
                                                                        Annual ₹1499
                                                                </label>
                                                        </div>
                                                </label>
                                        </td>
                                </tr>
                        </table>

                        <button class="btn" style="color: brown;" (click)="subscribe()">Continue <i
                                        class="fa fa-angle-right"></i>
                        </button>
                </div>
        </div>
</div>