<div class="page col-md-6 offset-md-3 " id="subscription">

        <h4 style="color: white;">Subscribe to get more out of Hotstar</h4>

        <div class="normal">
                <div class="table-view">
                        <table>
                                <tr>
                                        <td class="h">Content</td>
                                        <td>FREE</td>
                                        <td>VIP</td>
                                        <td>PREMIUM</td>
                                </tr>
                                <tr>
                                        <td>Dream11 IPL & live sports</td>
                                        <td><img src="https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-cross-1x.png"
                                                        srcset="https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-cross-2x.png 2x, https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-cross-3x.png 3x"
                                                        alt="" class=""></td>
                                        <td><img src="https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-check-1x.png"
                                                        srcset="https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-check-2x.png 2x, https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-check-3x.png 3x"
                                                        alt="" class=""></td>
                                        <td><img src="https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-check-1x.png"
                                                        srcset="https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-check-2x.png 2x, https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-check-3x.png 3x"
                                                        alt="" class=""></td>
                                </tr>
                                <tr>
                                        <td>Multiplex movies</td>
                                        <td><img src="https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-cross-1x.png"
                                                        srcset="https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-cross-2x.png 2x, https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-cross-3x.png 3x"
                                                        alt="" class=""></td>
                                        <td><img src="https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-check-1x.png"
                                                        srcset="https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-check-2x.png 2x, https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-check-3x.png 3x"
                                                        alt="" class=""></td>
                                        <td><img src="https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-check-1x.png"
                                                        srcset="https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-check-2x.png 2x, https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-check-3x.png 3x"
                                                        alt="" class=""></td>
                                </tr>
                                <tr>
                                        <td>Disney+ movies</td>
                                        <td><img src="https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-cross-1x.png"
                                                        srcset="https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-cross-2x.png 2x, https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-cross-3x.png 3x"
                                                        alt="" class=""></td>
                                        <td>Dubbed</td>
                                        <td>Dubbed & English</td>
                                </tr>
                                <tr>
                                        <td>Kids shows & movies</td>
                                        <td><img src="https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-cross-1x.png"
                                                        srcset="https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-cross-2x.png 2x, https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-cross-3x.png 3x"
                                                        alt="" class=""></td>
                                        <td>Dubbed</td>
                                        <td>Dubbed & English</td>
                                </tr>
                                <tr>
                                        <td>New Indian movies</td>
                                        <td>1 month delay</td>
                                        <td><img src="https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-check-1x.png"
                                                        srcset="https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-check-2x.png 2x, https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-check-3x.png 3x"
                                                        alt="" class=""></td>
                                        <td><img src="https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-check-1x.png"
                                                        srcset="https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-check-2x.png 2x, https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-check-3x.png 3x"
                                                        alt="" class=""></td>
                                </tr>
                                <tr>
                                        <td>Hotstar specials</td>
                                        <td>First episode free</td>
                                        <td><img src="https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-check-1x.png"
                                                        srcset="https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-check-2x.png 2x, https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-check-3x.png 3x"
                                                        alt="" class=""></td>
                                        <td><img src="https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-check-1x.png"
                                                        srcset="https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-check-2x.png 2x, https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-check-3x.png 3x"
                                                        alt="" class=""></td>
                                </tr>
                                <tr>
                                        <td>American TV shows</td>
                                        <td><img src="https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-cross-1x.png"
                                                        srcset="https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-cross-2x.png 2x, https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-cross-3x.png 3x"
                                                        alt="" class=""></td>
                                        <td><img src="https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-cross-1x.png"
                                                        srcset="https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-cross-2x.png 2x, https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-cross-3x.png 3x"
                                                        alt="" class=""></td>
                                        <td><img src="https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-check-1x.png"
                                                        srcset="https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-check-2x.png 2x, https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-check-3x.png 3x"
                                                        alt="" class=""></td>
                                </tr>
                                <tr>
                                        <td>Hollywood movies</td>
                                        <td><img src="https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-cross-1x.png"
                                                        srcset="https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-cross-2x.png 2x, https://secure-media.hotstar.com/static/subscription/logo/psp-lite/comparator-cross-3x.png 3x"
                                                        alt="" class=""></td>
                                        <td>Dubbed</td>
                                        <td>Dubbed & English</td>
                                </tr>

                                <tr>
                                        <td>Video quality</td>
                                        <td>SD (480p)</td>
                                        <td>HD (720p)</td>
                                        <td>FHD (1020p)</td>
                                </tr>

                                <tr>
                                    

                                 <td>Price</td>
                                        <td>
                                                <label>
                                                        <div class="form-check">
                                                                <input type="radio" (click)="changeCheckbox(plan1.value)"
                                                                 name="radiobutton" value="1" checked id="plan1" #plan1>
                                                                        <label class="form-check-label" for="free">
                                                                        Free
                                                                </label>
                                                        </div>
                                                </label></td>
                                        <td> <label>
                                                        <div class="form-check">
                                                                <input class="form-check-input" type="radio" (click)="changeCheckbox(plan2.value)"
                                                                        name="radiobutton"  value="2" checked id="plan1" #plan2>
                                                                <label class="form-check-label" for="radiobutton1">
                                                                        Annual ₹399
                                                                </label>
                                                        </div>


                                                </label></td>
                                        <td> <label>
                                                        <div class="form-check">
                                                                <input class="form-check-input" type="radio" (click)="changeCheckbox(plan3.value)"
                                                                        name="radiobutton"  value="3" checked  id="plan3" #plan3>
                                                                <label class="form-check-label" for="radiobutton1">
                                                                        Annual ₹1499
                                                                </label>
                                                        </div>
                                                </label>
                                        </td>
                                </tr>
                        </table>
                        
                        <button class="btn"  style="color: brown;" (click)="subscribe(1)" >Continue <i class="fa fa-angle-right"></i>
                        </button>
                </div>
        </div>
</div>