<div>
    <div class="details">
        <h2 style= "font-size: 30px; color:tomato;">Viral Gujarati</h2>
        <p style="border: dotted; width: 200px;">Trainee Software Engineer</p>
        <p>Email id: viralgujarati02@gmail.com</p>
        <p>Contact: 9106612756</p>

        <h3>Certificates</h3>
        
        <ul>
            <li>
            <span id="certi-name">Certificate Of Completion Of Python Training (04/2019)
                IIT Bombay</span></li>
            <li>
            <span id="certi-name">Certificate Of Workshop (07/2019)
                JAVA and IOS</span></li>
            <li>
            <span id="certi-name">Cloud Application Development
                Incapsulate pvt.ltd.</span></li>
            <li>
            <span id="certi-name">Certificate of Complition (03/2019)
                Cloud Application Devlopment</span></li>
            
        </ul>
    

    <h3>Educational Qualifications</h3>
                <table>
                    <tr id="heading">
                        <td>Qualification</td>
                        <td>Board</td>
                        <td>Percentage / Grades</td>
                        <td>Year</td>
                    </tr>
                    <tr>
                        <td>S.S.C</td>
                        <td>G.S.E.B </td>
                        <td>86.57%</td>
                        <td>2014</td>
                    </tr>
                    <tr>
                        <td>H.S.C (Science Stream)</td>
                        <td>G.S.E.B</td>
                        <td>66%</td>
                        <td>2016</td>
                    </tr>
                    <tr>
                        <td>Computer Engineering</td>
                        <td>Indus University</td>
                        <td>8cgpa</td>
                        <td>2020</td>
                    </tr>
</table>

<h3>Work Experiance</h3>

<ul>
    <li>
    <span id="company_name">Software Engineer Trainee at Radixweb, Ahmedabad</span></li>
    <li>
    <span id="company_name">Internship Vethics --} Python(Django), Data analysis, Ahmedabad
    </span></li>
    <li>
    <span id="company_name">WayToWeb Pvt Ltd --} Python AI and machine learning, Ahmedabad</span></li>
    <li>
    <span id="company_name">Internship silverwings technologies pvt ltd --} Web Design-Internship</span></li>
    
</ul>
        
<h3>Tecnical Skills</h3>
<p>Languages</p>
<ul>
    <li>
        Python
    </li>
    <li>
        Asp.Net
    </li>
    <li>
        Html,Css
    </li>
    <li>
        Android
    </li>
</ul>

<h3> Project Video</h3>
<video src="./abc.mp4" height="500px" width="700px" poster="./Capture.PNG"></video> 

</div>