* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.wholepage {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(20, 24, 24);
    width: 80%;
    margin: 5px auto;
}

p {
    font-size: medium;
}
h1 {
    color: crimson;
    font-size: x-large;
    padding: 15px;
    border-bottom: 1px solid black;
}
h2 {
    color: darkblue;
    font-size: larger;
}
footer p {
    font-size: x-small;
}

.entry-title, footer {
    background-color: floralwhite;
}

.entry-meta {
    font-style: italic;
}

.auther {
    font-style: normal;
}

#post {
    background-color: ghostwhite;
}

.entry-content li a {
    color: indianred;
}

.entry-content ul :nth-child(even) {
    background-color: lightblue;
}

.entry-content ul :nth-child(odd) {
  background-color: lightyellow;  
}

.entry-content ul {
    border-bottom: 1px solid black;
    border-top: black 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
}

.entry-content ul li {
    padding: 5px;
    padding-left: 10px;
}

.aside-body p:nth-last-of-type(even) {
    background-color: rgb(193, 247, 220);
}

.aside-body p:nth-of-type(odd) {
    background-color: rgb(227, 245, 197);
}

.entry-content :first-child{
    color:blueviolet
}

aside {
    float: right;
    width: 30%;
    padding: 10px;
}

.entry-content{
    width: 70%;
    padding: 10px;
}

li {
    list-style-type: none;
    clear: left;
}

footer p {
    padding: 10px;
    font-size: large;
    text-align: center;
    clear: both;
}

img {
    float: left;
}

nav ul, nav li {
    display: inline-block;
    color: black;
    font-size: x-large;
    padding: 5px;
}

nav {
    background-color: tomato;
}

nav li a{
    padding: 10px;
    text-decoration: none;
    color: black;
}

