<div class="container-fluid ">
    <form class="form" method="post">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <!--  hamburger menu 
               <a class="nav-link" href="#"><strong>HOTSTAR</strong></a> -->
                    </li>

                    <a class="navbar-brand" href="#">

                        <img src="https://secure-media.hotstarext.com/web-assets/prod/images/brand-logos/disney-hotstar-logo-dark.svg"
                            alt="Hotstar" style="width:115px; height: 45px; padding-bottom: 10px;">
                    </a>

                    <li class="nav-item dropdown">
                        <a class="nav-link " data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">TV</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" routerLink="/starplus">Star Plus</a>
                            <a class="dropdown-item" href="starworld.html">Star World</a>
                            <a class="dropdown-item" href="lifeok.html">Life OK</a>
                            <a class="dropdown-item" href="starvijay.html">Star Vijay</a>
                            <a class="dropdown-item" href="starbharat.html">Star Bharat</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown ">
                        <a class="nav-link " data-toggle="dropdown" routerLink="/movie" role="button"
                            aria-haspopup="true" aria-expanded="false">Movies</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link " data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Sports</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="https://www.cricbuzz.com/">Cricket</a>
                            <a class="dropdown-item" href="https://www.skysports.com/football">FootBall</a>
                            <a class="dropdown-item" href="https://www.flashscore.in/badminton">Badminton</a>
                            <a class="dropdown-item" href="https://www.flashscore.in/volleyball">VolleyBall</a>
                            <a class="dropdown-item" href="https://www.livescore.in/hockey">Hockey</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">News</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="starplus.html">Hindi</a>
                            <a class="dropdown-item" href="starplus.html">English</a>
                            <a class="dropdown-item" href="starplus.html">Bengali</a>
                            <a class="dropdown-item" href="starplus.html">Telugu</a>
                            <a class="dropdown-item" href="starplus.html">Malayalam</a>
                        </div>
                    </li>
                </ul>


                <!-- subscribe -->
                <button type="button" class="subscribe-btn btn-primary " routerLink="/subscribe">
                    subscribe
                </button>
            </div>

        </nav>
        <br>
    </form>

    <br>
    <!-- </div> -->

    <br>

    <br>
    <h2 style="color: brown;">StarPlus</h2>

    <div class="resClass">
        <div class="row">
            <div class="">
                <div class="normal" id="1">
                    <article class="  show-card normal">

                        <a>
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_3x/sources/r1/cms/prod/8716/908716-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Mehndi Hai Rachne Waali</span>
                                <div class="sub-info" style="text-decoration: solid;"><span class="subtitle">Drama,
                                        StarPlus</span></div>
                                <div class="description ellipsize">Widowed Pallavi is all for family, while loner
                                    Raghav, a
                                    business magnate, is all for money. One day ...</div>

                                <a href="https://res.cloudinary.com/hotstarwebsite/video/upload/v1624251113/SampleVideo_1280x720_10mb_xklwaq.mp4"
                                    class="btn btn-primary">Watch Now</a>
                            </div>
                        </a>
                    </article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a>
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_3x/sources/r1/cms/prod/1040/951040-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Pandya Store</span>
                                <div class="sub-info"><span class="subtitle">Family, Drama, StarPlus</span></div>
                                <div class="description ellipsize">In the era of nuclear families, Dhara uses her
                                    entrepreneurial foresight to revive her ancestral bus ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a>
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/1995/861995-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Shaurya Aur Anokhi</span>
                                <div class="sub-info"><span class="subtitle">Drama, StarPlus</span></div>
                                <div class="description ellipsize">Sparks fly when masked modern-day misogynist Shaurya
                                    comes
                                    across Anokhi, a headstrong girl. With th ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/895/830895-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Imlie</span>
                                <div class="sub-info"><span class="subtitle">Drama, StarPlus</span></div>
                                <div class="description ellipsize">All Imlie wanted was to create a name for herself in
                                    the
                                    city. But upon her arrival, she finds herse ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>

            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a>
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_3x/sources/r1/cms/prod/7381/927381-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Saathiya 2</span>
                                <div class="sub-info"><span class="subtitle">Family, StarPlus</span></div>
                                <div class="description ellipsize">When the Desais ill-treat their maid, Gehna, their
                                    youngest
                                    son Anant turns out to be her only suppo ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_3x/sources/r1/cms/prod/905/840905-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Ghum Hai Kisikey</span>
                                <div class="sub-info"><span class="subtitle">Romance, StarPlus</span></div>
                                <div class="description ellipsize">Virat sacrifices his love to honour the promise he
                                    made to a
                                    dying man. Trapped between the past and ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/6615/826615-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Shaadi Mubarak</span>
                                <div class="sub-info"><span class="subtitle">Drama, StarPlus</span></div>
                                <div class="description ellipsize"> SHOW ON BREAK DUE TO GLOBAL COVID-19 SITUATION. A
                                    widow and
                                    an ex-film star, both in their 40s, par ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/6769/826769-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Anupama</span>
                                <div class="sub-info"><span class="subtitle">Drama, StarPlus</span></div>
                                <div class="description ellipsize">Anupama had to sacrifice a lot to become an ideal
                                    wife,
                                    daughter-in-law, and mother. After a bitter ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/9260/889260-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Yeh Rishta</span>
                                <div class="sub-info"><span class="subtitle">Drama, StarPlus</span></div>
                                <div class="description ellipsize">The story of a young married couple, Kartik and Naira
                                    trying
                                    to strike the perfect balance between t ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/7999/747999-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Yeh Hai Chahatein</span>
                                <div class="sub-info"><span class="subtitle">Drama, StarPlus</span></div>
                                <div class="description ellipsize">TODAY'S EPISODE IS DELAYED. Preesha is a doting
                                    mother, while
                                    Rudraksh is an insensitive Rockstar. W ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_3x/sources/r1/cms/prod/9160/819160-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Taare Zameen Par</span>
                                <div class="sub-info"><span class="subtitle">Reality, StarPlus</span></div>
                                <div class="description ellipsize">A unique music show where every child is a winner! A
                                    daily
                                    dose of singing, learning and unlimited f ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/2956/762956-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Lockdown Ki Lovestory</span>
                                <div class="sub-info"><span class="subtitle">Drama, StarPlus</span></div>
                                <div class="description ellipsize">Mumbai's Sonam is about to get hitched to Dhruv from
                                    Prayagraj. When Sonam's family gets stuck at Dh ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/5410/775410-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Yehh Jadu Hai Jinn Ka</span>
                                <div class="sub-info"><span class="subtitle">Romance, StarPlus</span></div>
                                <div class="description ellipsize">He lives under the shadow of a djinn while she is
                                    blessed
                                    with angelic qualities. What turn will Ama ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/4333/734333-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Yeh Rishtey Hain</span>
                                <div class="sub-info"><span class="subtitle">Drama, StarPlus</span></div>
                                <div class="description ellipsize">Lovebirds Abir and Mishti embark upon the journey
                                    called
                                    'life'. Watch them heal the fissures in the ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/4253/734253-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Kasautii</span>
                                <div class="sub-info"><span class="subtitle">Romance, StarPlus</span></div>
                                <div class="description ellipsize">A re-imagination of Anurag and Prerna's poignant
                                    romance.
                                    Will these star-crossed lovers unite again ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/7519/867519-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Welcome 2021</span>
                                <div class="sub-info"><span class="subtitle">Reality, StarPlus</span></div>
                                <div class="description ellipsize">Ring in the new year with your favourite celebs from
                                    Star
                                    Parivaar. A heavy dose of dance, drama, co ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/7252/757252-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Ganeshotsav 2020</span>
                                <div class="sub-info"><span class="subtitle">Reality, StarPlus</span></div>
                                <div class="description ellipsize">Join the festivities and welcome Lord Ganesha into
                                    your homes
                                    with Sonu Sood, Shilpa Shetty, Surbhi ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/7245/827245-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Ramayan</span>
                                <div class="sub-info"><span class="subtitle">Mythology, StarPlus</span></div>
                                <div class="description ellipsize">He was the righteous crown prince of Ayodhya. She was
                                    his
                                    loyal and brave wife. Relive the magic of ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/1309/701309-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Sai Baba</span>
                                <div class="sub-info"><span class="subtitle">Mythology, StarPlus</span></div>
                                <div class="description ellipsize">Sai Baba taught his followers the true meaning of
                                    humility,
                                    equality and devotion. A holy tale based ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/4382/694382-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Tere Liye</span>
                                <div class="sub-info"><span class="subtitle">Romance, StarPlus</span></div>
                                <div class="description ellipsize">Childhood friends Anurag and Taani are made for each
                                    other,
                                    but a twist of fate leads to their separ ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/7898/627898-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Dil Jaise Dhadke</span>
                                <div class="sub-info"><span class="subtitle">Drama, StarPlus</span></div>
                                <div class="description ellipsize">Iti and Yug's innocent friendship overcomes emotional
                                    trauma
                                    and social class difference. But can Yu ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/2021/552021-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Nazar</span>
                                <div class="sub-info"><span class="subtitle">Thriller, StarPlus</span></div>
                                <div class="description ellipsize">Apurva lives under the constant threat of his sister,
                                    Mohini,
                                    a Daayan. Unaware that he is a Daavans ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/3751/623751-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Dadi Amma Maan Jaao!</span>
                                <div class="sub-info"><span class="subtitle">Family, StarPlus</span></div>
                                <div class="description ellipsize">Shraddha and Anjali are millennial sisters living
                                    with their
                                    75-year-old kids, the grandparents to c ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/9145/659145-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Maharaj Ki Jai Ho</span>
                                <div class="sub-info"><span class="subtitle">Comedy, Science Fiction, StarPlus</span>
                                </div>
                                <div class="description ellipsize">In a twist of fate, Sanjay's time-travel goes wrong,
                                    and he
                                    lands in Hastinapur, 3000 BCE. Adding mo ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/4522/494522-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Kahaan Hum Kahaan Tum</span>
                                <div class="sub-info"><span class="subtitle">Romance, StarPlus</span></div>
                                <div class="description ellipsize">A chance encounter brings together Dr. Rohit and TV
                                    actress
                                    Sonakshi. Starting off on a wrong foot, ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/5447/515447-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Divya-Drishti</span>
                                <div class="sub-info"><span class="subtitle">Thriller, StarPlus</span></div>
                                <div class="description ellipsize">Separated at childhood, Divya and Drishti attain
                                    super powers
                                    to see and manipulate future. But thei ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/3075/633075-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Sanjivani</span>
                                <div class="sub-info"><span class="subtitle">Drama, StarPlus</span></div>
                                <div class="description ellipsize">Opposites attract but Dr. Sid and Dr. Ishani repel
                                    each
                                    other. Will their love-hate relationship fin ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/2026/552026-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Yeh Hai Mohabbatein</span>
                                <div class="sub-info"><span class="subtitle">Romance, StarPlus</span></div>
                                <div class="description ellipsize">Based on Manju Kapoor's Custody, this is the story of
                                    Raman
                                    and Ishita, brought together by destiny ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/1399/601399-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> MasterChef India</span>
                                <div class="sub-info"><span class="subtitle">Reality, StarPlus</span></div>
                                <div class="description ellipsize">With celebrity chefs Vikas Khanna, Vineet Bhatia and
                                    Ranveer
                                    Brar as the judges, country's best home ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/4895/584895-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Dance +</span>
                                <div class="sub-info"><span class="subtitle">Reality, StarPlus</span></div>
                                <div class="description ellipsize">More teams, more dance, and more fun! Who'll impress
                                    judge
                                    Remo, and captains Punit, Dharmesh, Karis ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/834/580834-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Namah Laxmi Narayan</span>
                                <div class="sub-info"><span class="subtitle">Mythology, StarPlus</span></div>
                                <div class="description ellipsize">He is the supreme lord and the ultimate soul of the
                                    universe.
                                    The creator, the preserver and the ann ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/9070/509070-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Sarvagun Sampanna</span>
                                <div class="sub-info"><span class="subtitle">Thriller, StarPlus</span></div>
                                <div class="description ellipsize">Appearances can be deceptive and so is Janhvi, the
                                    perfect
                                    bahu of the Mittal household. Fuelled by ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/1882/311882-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Kulfi Kumar Bajewala</span>
                                <div class="sub-info"><span class="subtitle">Family, StarPlus</span></div>
                                <div class="description ellipsize">Blessed with a nightingale's voice, cute Kulfi is a
                                    singing
                                    prodigy. After a tragedy strikes, she se ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/9211/509211-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Dil Toh Happy</span>
                                <div class="sub-info"><span class="subtitle">Drama, StarPlus</span></div>
                                <div class="description ellipsize">Based in Amritsar, this is a joyful tale of
                                    free-spirited,
                                    Happy. With dreamy eyes and a contagious ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/3454/583454-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Super V</span>
                                <div class="sub-info"><span class="subtitle">Sport, StarPlus</span></div>
                                <div class="description ellipsize">From being a teenage Cricket prodigy hitting sixes to
                                    becoming ‘Super V’ - the invincible superhero, ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="  show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/1635/521635-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Ajab Parivaar Ke Gazab
                                    Awards</span>
                                <div class="sub-info"><span class="subtitle">Awards, StarPlus</span></div>
                                <div class="description ellipsize">Phaadu physique, shandaar swag; with quirky
                                    nominations like
                                    these, entertainment is guaranteed! Wat ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="show-card normal"><a >
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/1672/841672-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Stories Of Strength</span>
                                <div class="sub-info"><span class="subtitle">Concert Film, StarPlus</span></div>
                                <div class="description ellipsize">Honouring the martyrs and survivors of 26/11 tragedy,
                                    and
                                    COVID-19 warriors, this memorial is all ab ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
            <div class="">
                <div class="normal">
                    <article class="show-card normal"><a>
                            <div class="thumbnail-container">
                                <div class="card card-img-container"><img
                                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/509/530509-h"
                                        class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                            </div>
                            <div class="details"><span class="content-title ellipsise"> Nach Baliye</span>
                                <div class="sub-info"><span class="subtitle">Reality, StarPlus</span></div>
                                <div class="description ellipsize">Your fav celebs have paired-up with their current and
                                    ex-Baliyes. A battle of moves and drama, with ...</div>
                                <a href="#" class="btn btn-primary">Watch Now</a>

                            </div>
                        </a></article>
                </div>
            </div>
        </div>

        <div class="paginator-waypoint"><span style="font-size: 0px;"></span></div>
        <div style="display: none;" class="page-loader loader"></div>
    </div>

    <!-- </body> -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class=" footer-left col-xl-5 col-xs-4 col-sm-12 col-sm-7">
                    <h2>About Disney+ HotStar</h2>
                    <p>
                        © 2021 STAR. All Rights Reserved. HBO, Home Box Office and all related channel and programming
                        logos
                        are
                        service marks of, and all related programming visuals and elements are the property of, Home Box
                        Office,
                        Inc.
                        All rights reserved. </p>
                    <p>HotStar</p>
                </div>
                <div class="col-sm-4">
                    <img src="https://secure-media.hotstarext.com/web-assets/prod/images/brand-logos/disney-hotstar-logo-dark.svg"
                        alt="Hotstar" style="width:215px; height: 85px; padding-bottom: 10px;">
                </div>

                <div class="copy">
                    <div class="container">
                        <h3>Contact With Us </h3>
                        <a><i class="fa fa-twitter"></i></a>
                        <a><i class="fa fa-facebook"></i></a>
                    </div>

                </div>
            </div>
        </div>

    </footer>