<div class="container-fluid "><br><br>
  <div class="text-light"></div>
  <div class="container-fluid p-3">
    <div class="row p-2 ">
      <div class="img col-sm-6 col-md-4 col-lg-3 col-xl-3 " *ngFor="let movie of movies">
        <a routerLink="/content/{{movie.contentId}}">
          <img src="{{movie.contentPosterLink}}" width="180px" height="200px" class="rounded">
        </a>
        <div class="row ">
          <div>
            <a class="nav-link rounded text-info pb-0 mb-0">{{movie.title}}</a>
            <small class="pl-3 py-0 my-0 text-light">{{movie.contentLanguage}}</small><br><br>
          </div>
        </div>
      </div>
    </div>
  </div>