*{
    padding :0;
    margin: 0;
}
#wrapper{
    border: solid black;
    padding: 10px;
}
#header{
    height: 110px;
    background-color: red;
}
#logo{
    height: 50px;
    width: 130px;
    position: absolute;
    top : 12px;
}
#nav{
    height: 50px;
    background-color: rgb(223, 116, 46);
    margin-top: 10px;
}
#container{
    
    margin-top: 10px;
}
#container::after {content:" ";display:block ; clear:both}
#left{
    width :25%;
    height: 600px;
    background-color: rgb(233, 233, 67);
    float: left;
}
#right{
    float: right;
    width:74%;
    height: 600px;
    background-color: rgb(175, 160, 91);
}
#footer{
    height: 100px;
    background-color: rgb(180, 89, 102);
    margin-top: 10px;
    text-align: center;
    padding-top: 40px;
}
h2, h3{
    font-size: xx-large;
    text-align: center;
    float:right;
   
}
a{
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: rgb(8, 8, 8);
    font-weight: 400;
    padding: 5px;
}
.head{
    font-size: xx-large;

}
.about{
    font-size: x-large;
}