body{
    font-family: "Courier";
}
.card {
    box-shadow: 0 4px 0px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: inline;
    float: left;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
    background-color: #07afa4;
    padding: 2px 16px;
    color: white;
}
.card img{
    height: 220px;
    width: 100%;
}
.topic{
    margin-left: 15px;
    padding: 10px 5px;
    color: #07afa4;
    border-bottom: 5px solid #07afa4;
}
.content{
    margin: 10px 10px;
}
.content td{
    border: 1px solid #554744;
    padding: 10px;
    border-collapse: collapse;
}
.content th {
    border: 1px solid #554744;
    padding: 10px;
    background-color: #07afa4;
    color: white;
    border-collapse: collapse;
}
.educationcontent td {
    border: 1px solid #554744;
    padding: 15px;
    border-collapse: collapse;
}
.educationcontent th {
    border: 1px solid #554744;
    padding: 15px;
    background-color: #07afa4;
    color: white;
    border-collapse: collapse;
}
.educationcontent table{
    padding: 20px 15px 15px;
    margin: auto;
    text-align: center;
}
.videostyle{
    padding: 10px 15px 10px;
}