td {
    border: 1px solid #554744;
    padding: 15px;
    border-collapse: collapse;
}
th {
    border: 1px solid #554744;
    padding: 15px;
    background-color: crimson;
    color: white;
    border-collapse: collapse;
}
table{
    margin: auto;
    text-align: center;
}
body {
    font-family:monospace;
    font-size: 18px;
}
h1{
    text-align: center;
    color: crimson;
}
nav{
    background-color: crimson;
    height: 50px;
}
nav a{
    display: inline-block;
    padding: 11px;
    color: white;
    font-size: 18px;
}
.center {
    margin: auto;
    width: 40%;
    padding: 10px;
}
label{
    color: crimson;
}
input[type="text"], input[type="password"]{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"]{
    height: 40px;
    width: 100%;
    background-color: crimson;
    color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
}
ol{
    color: crimson;
}