* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    /* border: 1px solid black; */
}

.container {
    background-color: ghostwhite;
    width: 90%;
    margin: auto;
    margin-top: 15px;
}

/* index page */

.container-1 {
    display: grid;
    grid-template-columns: 60% 40%;

    gap: 15px;
}

.header {
    padding: 20px;
    font-size: xx-large;
    border-bottom: 1px solid black;
}

h2 {
    font-size: xx-large;
    padding: 5px;
}

h3,p {
    padding: 5px;
}

h3 {
    color: cornflowerblue;
    
}

.edu-detail {
    border-bottom: 1px solid black;
    padding: 10px;
    padding-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    padding: 5px;
    border: 1px solid black;
}

th, tr, td {
    padding: 5px;
    border: black 1px solid;
}

th {
    font-size: larger;
}

.projects {
    padding: 10px;
}

aside {
    padding: 10px;
}

.address {
    padding: 5px;
    font-style: italic;
}

li {
    list-style-type: none;
    padding: 10px;
    padding-left: 20px;
}

#video-link {
    padding: 20px;
    margin-right: 15px;
    text-transform: none;
    color: chocolate;
    text-decoration: none;
}

.left {
    /* border-right: 1px solid black; */
}

/* videos */

.container-2 {
    padding: 5px;
}

.video {
    padding: 20px 10px;
    border-bottom: 1px solid black;
    width: 95%;
    margin: auto;

    display: grid;
    grid-template-columns: 30% 70%;
    gap: 15px;

}

.video:last-child {
    border: 0px;
}

video {
    width: 100%;
}
