<div class="container-fluid ">

    <br>
    <br>
    <!-- {{shows | json}} -->
    <div class="text-light"></div>
    <div class="container-fluid p-3">
        <div class="row p-2">
            <div class="img col-md-2 p-2 md-2 m-3 " *ngFor="let show of shows">

                <a routerLink="/content/{{show.contentId}}">
                    <img src="{{show.contentPosterLink}}" width="200px" height="200px" class="rounded">
                </a>
                <div class="row">
                    <div>
                        <a class="nav-link rounded text-info pb-0 mb-0">{{show.title}}</a>
                        <small class="pl-3 py-0 my-0">{{show.contentLanguage}}</small><br>
                    </div>
                </div>
            </div>
        </div>
    </div>